
    
    <div id="content">
        <h1 class="main-heading">Maisto kelionė į jūsų namus</h1>
        <div class="flex-column">
            <div class="flex-item-1 flex-item-remove" ></div>
            <div class="flex-item-3" >
                <h1>picas </h1>

                                
           
            </div>
            <hr class="page-break">
            <div class="flex-item-3 order-info">
                <h5>Pasirinkite savo tikslus ir lukesčius atitinkančią mitybos programą. </h5>
                <h6>Mes siūlome 3 pagrindines programas:</h6>
                <ul>
                    <li>Svorio mažinimo "Light".</li>
                    <li>Kiekvienai dienai "Balance".</li>
                    <li>Svorio auginimui "Fitness".</li>
                    <li>Norintiems maitintis subalansuotai darbe - "Office". </li>
                    <li>Be to, čia galite įsigyti Healthstate Dovanų kuponą ir nustebinti savo mylimą žmogų ypatinga dovana.</li>
                </ul>     
            </div>
            <div class="flex-item-1 flex-item-remove" ></div>
        </div>
    </div>


