

    
    <div id="content">
        <h1 class="main-heading">Kontaktai</h1>
        <div class="flex-column">
            <div class="flex-item-1 flex-item-remove" ></div>
            <div class="flex-item-3" >
                <table style="width:100%">
                  <tr>
                    <th>Vardas, Pavardė</th>
                    <th>Pareigos</th>
                    <th>Telefono Nr.</th>
                  </tr>
                  <tr>
                    <td>Mantas Viršila</td>
                    <td>Personalo Vadybininkas</td>
                    <td>+3706783241</td>
                  </tr>
                  <tr>
                    <td>Andrius Mockaitis</td>
                    <td>Direktorius</td>
                    <td>+3706752567</td>
                  </tr>
                  <tr>
                    <td>Giedrius Savickaitis</td>
                    <td>Marketingo Specialistas</td>
                    <td>+3706752536</td>
                  </tr>
                </table>
            </div>
            <hr class="page-break">
            <div class="flex-item-3 order-info">
                <p>Užsisakius ir apmokėjus prekes internetu, pirkėjas gali pasirinkti vieną iš trijų pristatymo būdų:

1. Pristatymas per DPD kurjerį: nuo durų iki durų.

Krepšelio vertė iki 30 Eur DPD kurjeris nuo durų iki durų 3.50 EUR

Krepšelio vertėnuo 30 Eur iki 50 Eur, DPD  kurjeris nuo durų iki durų 3.00 eur.

</p>
                    <h6>Visais kilusiais klausimais Lietuvoje galite kreiptis elektroniniu paštu info@veggo.lt ar telefonu +370 674 45355 .</h6>
            </div>
        
            <div class="flex-item-1 flex-item-remove" ></div>
        </div>
    </div>

