

    <div id="content">
        <h1 class="main-heading">Dažnai užduodami klausimai</h1>
        <div class="flex-column">
            <div class="flex-item-1" ></div>
            <div class="flex-item-3" >          
                <div class="question-div">
                <h3>KAIP UŽSAKYTI „CITYRUSH“ RINKINIUS?</h3>
                    <p>Užsakymai atliekami el.paštu uzsakymai@maistokeliones.lt arba telefonu +3706243551.</p>
                </div>
                
                <div class="question-div">
                <h3>IKI KADA GALIMA PATEIKTI UŽSAKYMĄ?</h3>
                    <p>Užsakymus priimame kiekvieną dieną iki 12:00 valandos sekančiai dienai (išskyrus savaitgalius). Užsisakant po 12:00 valandos užsakimas anksčiausiai pristatomas po 24 valandų (t.y. jeigu užsakymą darote pirmadienį po 12:00 valandos, tai anksčiausia pristatymo diena, kuria galėsite pasirinkti bus trečiadienis). Savaitgaliais užsakymai nepristatomi.</p>
                </div>
                
                <div class="question-div last">
                <h3 >KOKIO DYDŽIO RINKINIUS GALIU PASIRINKTI?</h3>
                    <p>Visi „Cityrush“ rinkiniai skirstomi į 1000, 1300, 1500, 1800, 2000 ir 2300 kcal rinkinius. Tai pat turime išskirtinį sportui skirtą reguliarų rinkinį 3000 kcal.</p>
                </div>
            </div>
            <div class="flex-item-3">
                <div class="question-div">
                <h3>Kada priimami užsakymai telefonu?</h3>
                    <p>Užsakymą telefonu galite pateikti darbo dienomis nuo 10:00 iki 16:00.</p>
                </div>
                
                <div class="question-div">
                <h3>Ar galiu sustabdyti/perkelti užsakymo vykdymą?</h3>
                    <p>Taip, tiesiog informuokite mus apie tai ne vėliau nei prieš 48 darbo valandas.</p>
                </div>
                
                <div class="question-div last">
                <h3 >Ar galiu atšaukti savo užsakymą anksčiau ir atgauti likusią pinigų dalį?</h3>
                    <p>Jūs bet kada galite nutraukti savo užsakymą ir atgauti likusią pinigų sumą. Pažymėtina, kad mitybos programoms taikoma didesnė nuolaida užsakant ilgesniam laikotarpiui, todėl visos Jūsų jau panaudotos dienos bus perskaičiuotos pagal 1 d. pasirinktos programos įkainius. Rekomenduojame išbandyti mūsų mitybos programas trumpesniam laikotarpiui kad įsitikintumėte, jog mūsų siūloma paslauga atitinka Jūsų lūkesčius.</p>
                </div>
            </div>
            <div class="flex-item-1" ></div>
        </div>
    </div>

