
    
    <div id="content">
        <div class="flex-column">
            <div class="flex-item-1" ></div>
            <div class="flex-item-3" >
                <h1 class="main-heading">MAISTO KELIONĖS</h1>
                <h3>Sveiko ir subalansuoto maisto rinkiniai
                    Maisto pristatymas į namus ar ofisą Vilniuje ir Kaune.</h3>
                <p>Tai sveiko ir skanaus maisto rinkinys, kuriame subalansuotas visos dienos patiekalų racionas. Galite pasirinkti jums tinkamiausią maisto rinkinio kalorijų normą – 1300, 1800, 2300, 3000 kcal, kurią sudaro: pusryčiai, priešpiečiai, pietūs, pavakariai ir vakarienė.

Maisto rinkinį „Sportui“ rekomenduojame aktyviai sportuojantiems, daug dirbantiems ir negalintiems skirti pakankamai  laiko, nei maisto gaminimui, nei improvizacijai virtuvėje ar renkantis sveikus užkandžius.</p>
            </div>
            <div class="flex-item-1" ></div>
        </div>
    </div>

